agm-map {
  height: 500px;
}
#right-column{
  max-height: 500px;
}
.marker{
  transform:rotate(70deg);
}
img {
  max-width: 100%;
  max-height: 300px;
}

.fetched-history{
  color: #9932CC;
}
.tracked-by-you{
  color: #0CBF12;
}
.up-to-now{
  color: #000000;
}
.now-to-dest{
  color: #F40C0C;
}
